@use "src/assets/scss/variables.scss" as v;

.property-filter-advanced {
    width: 90%;

    margin: 0 auto;

    background-color: #ffffff;
    -webkit-box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.75);

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .property-filter-advanced-toggler {
        padding: 3px 0;

        display: flex;
        justify-content: center;

        > div {
            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;
        }
        p {
            margin: 0;

            text-transform: uppercase;
            font-size: 0.8rem;
        }

        svg {
            padding: 2px 0 3px 0;
            width: 18px;
            height: 20px;
        }
    }

    .property-filter-advanced-content {
        padding: 20px 30px;

        .property-filter-advanced-label,
        .property-filter-advanced-radio-value span,
        .MuiFormControlLabel-label {
            color: black;
            font-size: 12px;
        }

        .property-filter-advanced-row {
            margin: 20px 0;

            @media screen and (max-width: 650px) {
                gap: 7px;
            }
        }

        .property-filter-advanced-row:nth-child(2) {
            @media screen and (max-width: 650px) {
                gap: 15px;
            }
        }

        .property-filter-advanced-item {
            flex-basis: 29%;

            @media screen and (max-width: 650px) {
                flex-basis: 100%;
            }
        }

        .property-filter-advanced-checkbox-item {
            flex-basis: 25%;

            @media screen and (max-width: 600px) {
                flex-basis: 33%;
            }

            @media screen and (max-width: 460px) {
                flex-basis: 50%;
            }

            .MuiCheckbox-root {
                padding-right: 5px;
            }
        }

        .property-filter-advanced-checkbox-new-item {
            .MuiCheckbox-root {
                padding-left: 0px;
                right: 2px;
            }
        }

        .property-filter-advanced-checkbox-add-item {
            width: 30%;
            height: 100%;
            margin: 0 auto;
            cursor: pointer;
            border-radius: 100%;
        }

        .property-filter-advanced-new-checkbox-label {
            width: 80%;
            height: 20px;
            align-self: center;

            input {
                font-size: 12px;
            }
        }

        .MuiRadio-root {
            padding: 4px 3px 6px 9px;
        }

        .MuiFormLabel-root,
        .MuiInput-input {
            color: black;
        }

        .MuiAutocomplete-listbox,
        .MuiInput-input {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 930px) {
    body:not([sidebar-hidden]) .property-filter-advanced {
        .property-filter-advanced-row {
            gap: 7px;
        }

        .property-filter-advanced-row:nth-child(2) {
            gap: 15px;
        }

        .property-filter-advanced-item {
            flex-basis: 100%;
        }
    }
}

@media screen and (max-width: 850px) {
    body:not([sidebar-hidden]) .property-filter-advanced {
        .property-filter-advanced-checkbox-item {
            flex-basis: 33%;
        }
    }
}

@media screen and (max-width: 730px) {
    body:not([sidebar-hidden]) .property-filter-advanced {
        .property-filter-advanced-checkbox-item {
            flex-basis: 50%;
        }
    }
}
