.df {
    display: flex;
}

.aic {
    align-items: center;
}

.ais {
    align-items: flex-start;
}

.aie {
    align-items: flex-end;
}

.jcc {
    justify-content: center;
}

.jcs {
    justify-content: flex-start;
}

.jce {
    justify-content: flex-end;
}

.jcs {
    justify-content: flex-start;
}

.jcsa {
    justify-content: space-around;
}

.jcsb {
    justify-content: space-between;
}

.jcse {
    justify-content: space-evenly;
}

.jcsb {
    justify-content: space-between;
}

.fdr {
    flex-direction: row;
}

.fdc {
    flex-direction: column;
}

.fww {
    flex-wrap: wrap;
}

.fwnw {
    flex-wrap: nowrap;
}

.fsns {
    flex-shrink: 0;
}

.fgng {
    flex-grow: 0;
}

.fs-1 {
    flex-shrink: 1;
}

.fg-1 {
    flex-grow: 1;
}