$background-color: #252525;
$background-color-light: #333333;
$background-color-lighter: #404040;
$border-color: rgba(255, 255, 255, 0.04);
$gold: #c5aa7e;

$grey-font: #999;

$sidebar-mobile-width: 270px;