@use "src/assets/scss/variables.scss" as v;

#home-container {
    #home-property-cards {
        display: flex;

        .home-property-card {
            flex-basis: 25%;
            flex-shrink: 0;

            cursor: pointer;
        }

        @media screen and (max-width: 840px) {
            flex-direction: column;
        }
    }

    #home-top-properties {
        h2 {
            text-align: center;
            font-size: 50px;
            font-weight: 500;
            line-height: 1em;
            text-transform: uppercase;
            color: #fff;
            position: relative;
            margin-bottom: 20px;
            letter-spacing: 0.5px;
        }

        #home-top-properties-container {
            position: relative;
            padding: 20px 6rem;
            display: flex;
            gap: 50px;

            > div {
                display: flex;
                flex-direction: column;
                gap: 40px;
            }

            > div:nth-child(2) {
                margin-top: 50px;
            }

            .home-top-property {
                position: relative;
                transition: all 0.5s;

                .home-top-property-description {
                    position: absolute;
                    padding: 20px 20px 20px 0;
                    bottom: 0;
                    left: -25px;
                    background-color: v.$background-color;

                    h5 {
                        color: v.$gold;
                        font-size: 1.2rem;
                        font-weight: 300;
                        margin: 5px 0 0 0;
                    }

                    p {
                        color: #fff;
                        font-size: 1.4rem;
                        margin: 0;
                    }
                }

                .home-top-property-image-wrapper {
                    padding-bottom: 50px;
                    transition: all 0.5s;

                    img {
                        cursor: pointer;
                        max-width: 100%;
                        height: auto;
                        transition: all 0.5s;
                        &:hover {
                            transform: scale(0.9);
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 1080px) {
            #home-top-properties-container {
                padding: 20px 3rem;

                .home-top-property {
                    .home-top-property-image-wrapper {
                        padding-bottom: 60px;
                    }
                }
            }
        }
    }

    #home-mission {
        margin: 0 2rem;

        position: relative;
        color: #fff;
        text-align: center;
        letter-spacing: 0.5px;

        h2 {
            font-size: 50px;
            font-weight: 500;
            line-height: 1em;
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        p {
            margin: 0 20%;
            font-size: 20px;
        }

        @media screen and (max-width: 780px) {
            p {
                margin: 0 5%;
            }
        }
    }
}

@media screen and (max-width: 780px) {
    body #home-container #home-top-properties {
        #home-top-properties-container {
            flex-direction: column;
            gap: 0;

            .home-top-property {
                .home-top-property-description {
                    padding: 10px 10px 10px 0;
                }
            }
        }
    }

    body[sidebar-hidden] #home-top-properties-container {
        flex-direction: row;
    }
}
