
@use "../assets/scss/variables.scss" as v;

.login-container {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height: 100%;
    

    color: v.$grey-font;
}

.user-icon {
    position: absolute;
    margin: 20px;
    top: 100px;
    width: 150px;
    height: 150px;
    fill: v.$gold;
}

.login-form {
    position: absolute;
    margin:10px;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    background-color: v.$grey-font;
    border-radius: 5%;
    top: 300px;

    height: 300px;
    width: 400px;

    #username{
        width: 200px;
    }

    #login-button {
        background-color: v.$gold;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 40%;
        border-radius: 8px;
      }

      #login-button:hover {
        opacity: 0.8;
      }
      
}