.properties-listing-section {
    position: relative;
    margin-top: 2rem;
    padding: 20px 2rem;
    display: flex;
    justify-content: space-around;
    gap: 50px;

    #home-top-properties-left,
    #home-top-properties-right {
        flex-basis: 45%;
        flex-shrink: 0;
    }

    #home-top-properties-left {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    #home-top-properties-right {
        margin-top: 50px;
    }
}

@media screen and (max-width: 780px) {
    body .properties-listing-section {
        flex-direction: column;
        gap: 0;
    }
}
