@use "../assets/scss/variables.scss" as v;

/*Scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {

    opacity: 0%;
    background: v.$background-color; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background: rgb(100, 99, 99); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(77, 77, 77); 
  }