@use "src/assets/scss/variables" as v;
@use 'src/assets/scss/basic_utilities';

.App {
    min-height: 100vh;
    background-color: v.$background-color;
    display: flex;
    flex-direction: row;
    transition: all 0.5s;
    overflow: hidden;
    font-family: 'Khand', 'Arial', 'sans-serif';
}

#main {
    height: 100vh;
    min-width: 300px;
    flex-grow: 1;
    overflow: auto;
}
