@use "../../../assets/scss/variables" as v;

.App {
    min-height: 100vh;
    background-color: v.$background-color;
    display: grid;
    grid-template-columns: 22fr 78fr;
    grid-template-areas: "sidebar main";
    transition: all 0.5s;
}

#main {
    grid-area: "main";
}

#sidebar {
    grid-area: "sidebar";
}